# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Streamlit
.streamlit/secrets.toml
nohup.out

# Data science
.ipynb_checkpoints/
*.csv~
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Cache
.cache/
.pytest_cache/